body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    $font-family-base: "Questrial", sans-serif !important;
}

// .col {
//     background-color: red;
// }

// .row {
//     background-color: blue;
// }

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255) ' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.btn-secondary,
.btn-primary,
.btn {
    font-family: "Questrial", sans-serif;
}

.btn-secondary {
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 11px;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.8rem 1.6rem 0px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 5px;
    font-family: 'Questrial',
    sans-serif;
}

.btn-secondary:hover {
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 11px;
    line-height: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.8rem 1.6rem 0px;
    text-align: center;
	background-color: rgb(255, 255, 255);
	color: rgb(60, 60, 255);
    transition: all 0.4s ease-in-out 0s;
    margin: 5px;
    font-family: 'Questrial',
        sans-serif;
}

.btn-secondary:focus {
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 11px;
    line-height: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.8rem 1.6rem 0px;
    text-align: center;
    background-color:  #1daae5;
	color: #ffffff;
    margin: 5px;
    font-family: 'Questrial',
        sans-serif;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #1daae5;
    background-color: #ffffff;
    border-color: #ffffff;
}

.dropdown-item:hover {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #1daae5;
    text-align: inherit;
    white-space: nowrap;
    background-color: white;
    border: 0;
}

@media screen and (max-width: 767px) {
    .btn-secondary:hover {
                border-radius: 50px;
    }
    .btn-secondary {
        border-radius: 50px;
        max-height: 40px;
    }
}